{% extends 'base.html' %}

	{% block content %}
	<<!-- CARD -->
	<section id="myskills">
		<div class="container">
			<div id="skill_title" class="title">
				<h1>My Skills</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center">
						<div id="SkillsCardBody" class="card-body">
							<h2 id="SkillsCardTitle" class="card-title">Personal</h2>
							<div class="card text-left">
									<li>Dilligent</li>
									<li>Hard-Worker</li>
									<li>Friendly</li>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
						<div id="SkillsCardBody" class="card-body">
							<h2 id="SkillsCardTitle" class="card-title">Languages</h2>
							<div class="card text-left">
									<li>Japanese</li>
									<li>English</li>
									<li>Korean</li>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
						<div id="SkillsCardBody" class="card-body">
							<h2 id="SkillsCardTitle" class="card-title">Professional</h2>
							<div class="card text-left">
									<li>PHP</li>
									<li>Python</li>
									<li>UI/UX Design</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	{% endblock %}