{% extends 'base.html' %}
	{% load static %}
	{% block content %}

	<!-- Profile Card -->
	<div  class="container mt-5">
		<div class="card">
			<div id="row1" class="row">
				<div class="col-md-8">
					<div class="card-title">
					<h1>Profile</h1>
					</div>
					<div class="card-text">
					<p>Full Name     : Hakim Amarullah</p>
					<p>Date of Birth : May 1, 2001</p>
					<p>Age           : 19</p>
					<p>Address       : Srengseng Sawah</p>
					<p>Hobby         : Nonton</p>
					</div>
				</div>
				<div class="col-md-4">
					<img class="img-fluid" src="../static/img/profile.jpg">
				</div>
			</div>
		</div>
	</div>
	{% endblock %}