{% extends 'base.html' %}

	{% block content%}
	<div id="Exptitle" class="title">
		<h1>My Experience</h1>
	</div>
	<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="container">
						<div class="card text-center">
							<div id="SkillsCardBody" class="card-body">
								<h2 id="SkillsCardTitle" class="card-title">Product Manager</h2>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.</p>
							</div>
						</div>
			</div>
			
		</div>
		<div class="carousel-item">
			<div class="container">
					<div class="card text-center">
						<div id="SkillsCardBody" class="card-body">
							<h2 id="SkillsCardTitle" class="card-title">Senior UI/UX</h2>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
						</div>
					</div>
			</div>
		</div>
	{% endblock %}